.container {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-row-gap: 1px;
    margin: 15px 10px;
}

.container__item {
    background-color: white;
    padding: 0 10px;
    font-size: 12px;
}

.container__header {
    margin-left: 8px;
    padding: 5px;
}