.container {
    display: grid;
    grid-auto-rows: minmax(60px, auto);
    grid-row-gap: 3px;
    margin: 11px 11px;
}

.container__item {
    background-color: white;
    padding: 5px 12px;
    font-size: 12px;
}