.section {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    grid-row-gap: 1px;
    margin: 15px 10px;
}

.section__item {
    background-color: white;
    padding: 5px;
}

.section__layout {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 10px;
    grid-gap: 20px;
    background-color: white;
    font-size: 13px;
}

@media (max-width: 767px) {
    .section__layout {
        grid-template-columns: 1fr;
    }
}

.section__header {
    margin-left: 5px;
    padding: 5px;
}

.section__layoutButtons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

@media (max-width: 767px) {
    .section__layoutButtons {
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }
}

.section__buttons {
    color: hsl(180, 100%, 22%);
    border: none;
    background-color: white;
}

.section__buttons:disabled {
    color: #ddd;
    pointer-events: none;
}
.section__buttons:hover {
color: hsl(180, 100%, 30%);
}

.section__buttons:active {
    color: hsl(180, 100%, 35%);
}