html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #eee;
    font-family: 'Lora', serif;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.header {
    font-size: 14px;
    text-align: left;
    padding: 10px 0;
}

.section {
    border: 2px solid grey;
    width: 90%;
    margin: 15px;
    padding: 10px 0;
    background-color: #fff;
}

.section__header {
    font-size: 16px;
    padding: 10px;
}

.form {
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
}

.form__input {
    padding: 10px 0;
    min-width: 700px;
    margin: 5 px 0;
}

.form__button {
    border: none;
    background-color: teal;
    color: white;
    padding: 11px;
    margin-left: 5px;
}

.form__button:hover {
    background-color: rgb(111, 184, 184);
}