.taskList {
    list-style-type: none;
    margin: 0px;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    background-color: white;

}

.taskList__item {
    display: flex;
    flex-direction:row;
    align-items: center;
}

.taskList__span {
    flex-basis: 100%;
    word-break: break-all;
}

.taskList__span--done {
    text-decoration: line-through;
}

.taskList__button {
    height: 30px;
    color: white;
    border: none;
    background-color: green;
    margin: 0 10px;
    flex: 0 1 30px;
    font-size: 15px;
}

.taskList__button--done:hover {
    background-color: rgb(52, 167, 17);
}

.taskList__button--done {
    background-color: green;
}

.taskList__button--delete {
    background-color: red;
}

.taskList__button--delete:hover {
    background-color: rgb(255, 98, 98);
}