.taskList {
    list-style-type: none;
    padding: 0px;
    margin: 5px 5px 20px;
    background-color: white;
}

.taskList__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 1.5;
}

.taskList__span {
    flex-basis: 100%;
    word-break: break-all;
}

.taskList__span--done {
    text-decoration: line-through;
}

.taskList__button {
    height: 25px;
    width: 25px;
    color: white;
    border: none;
    background-color: green;
    margin: 0 15px;
    flex: 0 0 30px;
    font-size: 15px;
}

.taskList__button:hover {
    cursor: pointer;
}

.taskList__button:active {
    outline: 2px solid #000;
}

.taskList__button--done {
    background-color: rgb(23, 120, 23);
}

.taskList__button--delete {
    background-color: crimson;
}